#boardContainer {
    margin-top: 5px auto;
    text-align: center;
}

body{
    background-color: bisque;
}

h1{
    text-align: center;
}

ul li {
    list-style-type: none;
    display: inline;
}

input {
    width: 80px;
    height: 24px;
    font-size: 20px;
}

#resetBoard {
    margin: 5px auto;
    padding: 10px 30px;
    display: inline;
    border-radius: 10px;
    background-color: rgb(126, 171, 249);
    font-weight: bold;
    font-size: 20px;
    color:#fff;
}